# Build output
**/dist/
**/build/

# Cache
.npm/
.cache/
.vite/

# Editor directories and files
.vscode/
.idea/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Coverage directory used by testing tools like Jest
coverage/

# Mac-specific files
*.DS_Store

# Node modules
**/node_modules/

# dotenv files
**/.env

# Logs
logs
*.log

# OS files
.DS_Store
Thumbs.db

